/* File: src/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 200 78% 95%;
    --foreground: 215 28% 17%;
    --card: 200 78% 95%;
    --card-foreground: 215 28% 17%;
    --popover: 200 78% 95%;
    --popover-foreground: 215 28% 17%;
    --primary: 207 68% 53%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 215 28% 17%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215 28% 44%;
    --accent: 145 63% 49%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 207 68% 53%;
    --chart-1: 207 68% 53%;
    --chart-2: 145 63% 49%;
    --chart-3: 27 87% 67%;
    --chart-4: 197 37% 24%;
    --chart-5: 43 74% 66%;
    --radius: 0.5rem;
    --sidebar-background: 200 78% 95%;
    --sidebar-foreground: 215 28% 17%;
    --sidebar-primary: 207 68% 53%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 210 40% 96.1%;
    --sidebar-accent-foreground: 215 28% 17%;
    --sidebar-border: 214 32% 91%;
    --sidebar-ring: 207 68% 53%;
  }
  .dark {
    --background: 215 28% 17%;
    --foreground: 210 40% 98%;
    --card: 215 28% 17%;
    --card-foreground: 210 40% 98%;
    --popover: 215 28% 17%;
    --popover-foreground: 210 40% 98%;
    --primary: 207 68% 53%;
    --primary-foreground: 210 40% 98%;
    --secondary: 217 33% 25%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 25%;
    --muted-foreground: 215 21% 65%;
    --accent: 145 63% 49%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 25%;
    --input: 217 33% 25%;
    --ring: 207 68% 53%;
    --chart-1: 207 68% 53%;
    --chart-2: 145 63% 49%;
    --chart-3: 27 87% 67%;
    --chart-4: 197 37% 24%;
    --chart-5: 43 74% 66%;
    --sidebar-background: 215 28% 17%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 207 68% 53%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 217 33% 25%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217 33% 25%;
    --sidebar-ring: 207 68% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
